/* General styles */
html {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.container, .images-flex {
    width: 80vw;
    margin: auto;
}

header, footer {
    background-color: #1f2937;
}

.hero p, header a {
    font-size: 18px;
    color: #e5e7eb;
}


button, .signup-section .container {
    background-color: #3882f6;

}

.random-info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.phrase-container {
    background-color: #e5e7eb;
}

.phrase {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.phrase span {
    display: block;
    text-align: right;
    font-weight: bold;
}

/* Layout styles */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

header .container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .container ul  li {
    padding: 5px;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

header span {
    font-size: 24px;
    color: #f9faf8;
}